@model TransacoesBanco.Models.Transaccao

@{
    ViewData["Title"] = "Transacção";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Transacção</h1>
 
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransaccaoId" />
            <input type="hidden" asp-for="DataTransaccao"/>
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitularConta" class="control-label"></label>
                <input asp-for="TitularConta" class="form-control" />
                <span asp-validation-for="TitularConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeBanco" class="control-label"></label>
                <input asp-for="NomeBanco" class="form-control" />
                <span asp-validation-for="NomeBanco" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CodigoSWIFT" class="control-label"></label>
                        <input asp-for="CodigoSWIFT" class="form-control" />
                        <span asp-validation-for="CodigoSWIFT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Montante" class="control-label"></label>
                        <input asp-for="Montante" class="form-control" />
                        <span asp-validation-for="Montante" class="text-danger"></span>
                    </div>
                </div>
            </div>
                


            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary w-100" >Ver todas transacções</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
