@model TransacoesBanco.Models.Transaccao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaccao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransaccaoId" />
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitularConta" class="control-label"></label>
                <input asp-for="TitularConta" class="form-control" />
                <span asp-validation-for="TitularConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeBanco" class="control-label"></label>
                <input asp-for="NomeBanco" class="form-control" />
                <span asp-validation-for="NomeBanco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoSWIFT" class="control-label"></label>
                <input asp-for="CodigoSWIFT" class="form-control" />
                <span asp-validation-for="CodigoSWIFT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Montante" class="control-label"></label>
                <input asp-for="Montante" class="form-control" />
                <span asp-validation-for="Montante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTransaccao" class="control-label"></label>
                <input asp-for="DataTransaccao" class="form-control" />
                <span asp-validation-for="DataTransaccao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
